@using System.Runtime.CompilerServices
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title" @ref="_panel">@Message</div>
</root>

@code
{
	
	public string Message { get; set; }
	Panel _panel;

	protected override void OnStart()
	{
		Enabled = false;
	}
	protected override void OnEnabled(){
		
	}
	
	protected override int BuildHash() => System.HashCode.Combine( Message);
}
