@using System
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="box">
		<img src=@("avatar:" + Network.OwnerConnection.SteamId) alt=""/>
		<div class="Name">
			<div class="text">@Network.OwnerConnection.DisplayName</div>
			<div class="fill" style="width:@(Health)% ; background-color: @color.Hex"></div>
		</div>
	</div>
</root>

@code
{
	[Property, Range( 0, 100 )] public int Health { get; set; } = 10;

	Color color;
	
	protected override void OnUpdate()
	{
		if ( Health >= 60 )
		{
			color = Color.Green;
		}else if ( Health >= 30 )
		{
			color = Color.Yellow;
		}else if ( Health >= 0 )
		{
			color = Color.Red;
		}
	}
	
	protected override int BuildHash() => System.HashCode.Combine( Network.OwnerConnection.DisplayName,Health,color);
}
